body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: Arial, sans-serif;
}

.calculator {
    background:yellow;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background:greenyellow;
    color: white;
}

.equal {
    grid-row: span 2;
    background: pink;
    color: white;
}

.zero {
    grid-column: span 2;
}
